<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/bloglist.css' />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">
</head>
<body>
<% for(var i=0; i < res.length; i++) { %>
    <div class="header"><%= res[i].title %></div>
<% } %>
<div class="content">
    <div class="right">
        <div class="about">
            <h3>关于我</h3>
            <p>
                <b>西泊浪人</b>，立志成为一名屌屌的前端开发工程师，更是要成为一名全栈工程师。
            </p>
            <p>
                前端之路漫漫，其修远兮。资历尚浅之吾，将上下而求索至地老天荒。
            </p>
        </div>
        <div class="follow">
            <h3>Follow me on</h3>
            <ul>
                <li><a href="http://weibo.com/WesternRanger">新浪微博</a></li>
                <li><a href="http://blog.csdn.net/westernranger">CSDN博客</a></li>
                <li><a href="https://github.com/WesternRanger">github</a></li>
                <li><a href="http://western-ranger.com">个人主页</a></li>
            </ul>
        </div>
    </div>
    <div class="bloglist">
        <% for(var i=0; i < res.length; i++) { %>
            <p id="showdown-text" style="opacity: 0;"><%= res[i].content %></p>
        <% } %>
    </div>
    <div id="artBottom"></div>
</div>
<% include footer %>
<script src="/javascripts/common/jquery.min.js"></script>
<script src="/javascripts/common/react.min.js"></script>
<script src="/jsxParseFile/blog.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
<script type="text/javascript" src="/javascripts/common/showdown.js"></script>
<script type="text/javascript" src="/javascripts/common/marked.js"></script>
<script>
//    var showdown_text = $(".showdown-text").text();
//    document.querySelector(".header").addEventListener("click",compile,!1);
    ~function compile(){
        var _result = document.getElementById("showdown-text"),
            text = _result.innerHTML,
            converter = new showdown.Converter(),
            html = converter.makeHtml(text);
        _result.innerHTML = html;
        _result.style.opacity = 1;
    }();
    marked.setOptions({
        renderer: new marked.Renderer(),
        gfm: true,
        tables: true,
        breaks: true,
        pedantic: false,
        sanitize: false,
        smartLists: false,
        smartypants: false,
        highlight: function (code) {
            return hljs.highlightAuto(code).value;
        }
    });


    var article = $('#article').val();
    $('.article').html(marked(article));
</script>
</body>
</html>
