<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" href="/stylesheets/common/bootstrap.min.css">
    <style>
        .box-publish{
            width:100%;
            overflow: hidden;
        }
        .left{
            float:left;
            padding-right:20px;
            margin-right:20px;
            border-right:1px solid red;
        }
        .left h3,.left input{
            display: block;
            margin:auto;
        }
        .left #content{
            margin-left:20px;
            width:600px;
            height:400px;
            border:solid #333 1px;
            text-indent: 20px;
        }
        .right{
            overflow: hidden;
        }
        .right h3{
            display: block;
        }
    </style>
</head>
<body>
<div class="box-publish">
    <div class="left">
        <h3>markdown语法</h3>
        <input type="text" placeholder="题目" name="title" style="margin:0 auto 20px;width:200px;height:40px;border-bottom:#333 solid 1px;" value="<%= res[0].title %>"/>
        <textarea id="content" placeholder="请输入正文..." name="content" onkeyup="compile()">
            <%- res[0].content %>
        </textarea>
        <a class="submit-input" id="fixBlog" style="margin:auto;text-align:center;width:150px;display:block;border:#999 solid 1px;padding:5px 20px;cursor:pointer;">确认修改</a>
    </div>
    <div class="right">
        <h3>MarkDown 效果</h3>
        <div id="result">
            <%- res[0].content_markdown %>
        </div>
    </div>

</div>


<script src="/javascripts/common/jquery.min.js"></script>
<script src="/javascripts/publish.js"></script>
<script type="text/javascript" src="/admin/showdown.js"></script>
<script>
    function compile(){
        var text = document.getElementById("content").value;
        var converter = new showdown.Converter();
        var html = converter.makeHtml(text);
        document.getElementById("result").innerHTML = html;
    }
</script>
</body>
</html>
