<div class="footer">
	<p class="contact" style="font-size:14px;">如有问题欢迎联系
		<script type="text/javascript">
			//声明_czc对象:
			var _czc = _czc || [];
			//绑定siteid，请用您的siteid替换下方"XXXXXXXX"部分
			_czc.push(["_setAccount", "1259113627"]);

			var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
			document.write(unescape("%3Cspan id='cnzz_stat_icon_1259113627'%3E%3C/span%3E%3Cscript src='"
					+ cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1259113627%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
		</script>
	</p>
	<p>
		陈奇 © qi.chen5@western-ranger.com
	</p>

</div>
<script src="/javascripts/common/jquery.min.js"></script>
<script src="/javascripts/common/bootstrap.min.js"></script>
<script src="/javascripts/base.js"></script>