<div class="footer">
	<p class="contact" style="font-size:14px;">如有问题欢迎联系</p>
	<p>
		陈奇 © qi.chen5@western-ranger.com
	</p>
</div>
<script src="/javascripts/common/jquery.js"></script>
<script src="/javascripts/common/bootstrap.min.js"></script>
<script src="/javascripts/base.js"></script>