<div class="head-top">
    <div class="head row">
        <a href="/page/index">
            <img src="http://7xp7rf.com1.z0.glb.clouddn.com/7286096.jpeg" alt="" class="hidden-xs col-sm-1 img-responsive" alt="Responsive image">
        </a>
        <div class="row col-xs-12 col-sm-11 nav-bar">
            <a class="col-xs-4 col-sm-2 active" href="/">首页</a>
            <a class="col-xs-4 col-sm-2" href="/page/bloglist?type=it">技术积累</a>
            <a class="col-xs-4 col-sm-2" href="/page/bloglist?type=his">历史感悟</a>
            <a class="col-xs-4 col-sm-2" href="/page/bloglist?type=lif">生活杂记</a>
            <a class="col-xs-4 col-sm-2" href="http://blog.western-ranger.com">hexo博客</a>
            <a class="col-xs-4 col-sm-2" href="http://bishe.western-ranger.com/index">毕业设计</a>
        </div>
    </div>
</div>