<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <meta charset="utf-8"/>
      <link rel='stylesheet' href='/stylesheets/base.css' />
      <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
      <div class="head-top">
          <div class="head clearfix">
              <img src="http://7xp7rf.com1.z0.glb.clouddn.com/1.jpeg" alt="" class="head-box1">
              <div class="intro">
                  var WesternRanger = { name:'西泊浪人',motto：'勿以往之不谏，知来者之可追。'}
              </div>
              <img src="http://7xp7rf.com1.z0.glb.clouddn.com/7286096.jpeg" alt="" class="head-box2">
          </div>
      </div>
      <div class="wrap clearfix">
        <ul class="jobs">
            <li>
                老家: <a href="http://baike.baidu.com/link?url=4h5XhZklqTuKxCcbfok6vmLValtzmXoruSEI02_OVyRjv0MAOR1bjk55mri_fNXmuGwFQmBQODeltprIs-mTRK">山东-烟台-莱阳</a>
            </li>
            <li>
                毕业于: <a href="http://baike.baidu.com/link?url=4TOXHvJzA8P6ZRRQgc_c8U0XYzWQ1XwOKtecAWknYgR4jnWdUnzbiq8f0etIbUZalPqhjhxq-ushQd_fi65mJq">山东财经大学</a>
            </li>
            <li>
                前公司: <a href="http://www.renren.com/">人人网</a>
            </li>
            <li>
                现公司: <a href="http://www.360.com/">奇虎360</a>
            </li>
            <li>
                职位: <a href="http://baike.baidu.com/link?url=gltw9DHEVE88KzliTh4HLI563T26HMSelVVKSpBvMrrurlET4Y7p-pu7upMS7R0C2xYj-lioK1cyvI4I_i_ODq">前端开发工程师</a>
            </li>
            <li style="line-height: 25px;">
                感觉:
                <span style="font-size:14px;">萌萌哒.前端小程序猿,为身后那座辉煌的都市贡献着青春与热血,不祈求有多么牛逼,只因深爱着my job,管他现实有多残酷,但愿人生在世潇潇洒洒走一回.</span>
            </li>
        </ul>
        <ul class="hobby">
            <li>
                <div class="hobby-item">
                    <img style="width:163px;height:200px;float:left;margin-right:20px;" src="http://7xp7rf.com1.z0.glb.clouddn.com/55e736d12f2eb938e57f4a13d5628535e4dd6fc4.jpg" alt="">
                    明月几时有？把酒问青天。不知天上宫阙，今夕是何年。我欲乘风归去，又恐琼楼玉宇，高处不胜寒。起舞弄清影，何似在人间。
                    　　转朱阁，低绮户，照无眠。不应有恨，何事长向别时圆？人有悲欢离合，月有阴晴圆缺，此事古难全。但愿人长久，千里共婵娟。
                    <p style="padding:20px 30px 20px 0;text-align: right;">
                        --- 苏轼
                    </p>
                </div>
                <p class="hobby-note">
                    附上我最喜欢的一首古诗词。闲暇时间我很喜欢看看类似东西装装逼用的。可能是高中时候背诵了太多的古诗词。到现在还能随口背上一大段。
                    程序猿生活比较枯燥。所以还是要有点爱好滴。
                </p>
            </li>
            <li>
                <div class="hobby-item">
                    <img style="float:right;height:200px;width:200px;" src="http://7xp7rf.com1.z0.glb.clouddn.com/8644ebf81a4c510fc710faa66259252dd52aa5b1.jpg" alt="">
                    朱元璋生于乱世之中，背负着父母双亡的痛苦，从赤贫起家，他没有背景，没有后台，没有依靠，他的一切都是自己争取来的，他经历千辛万苦，无数次躲过死神的掌握，从死人堆里爬起来，掩埋战友的尸体，然后继续前进，继续战斗。可以说，在那个时代，最优秀统帅的称号非朱元璋莫属驾崩后传位于长子朱标之子朱允炆，但朱允炆上台便要削藩。燕王朱棣以“靖难之役”的名义夺位。

                </div>
                <p class="hobby-note">
                    最喜欢的历史书籍。看这书不光是为了装逼,也确实是因为爱好。我爱好不多,这算一个吧。
                </p>
            </li>
            <li>
                <div class="hobby-item" style="text-indent: 0;">
                    <img style="float:left;height:200px;width:200px;margin-right:20px;" src="http://7xp7rf.com1.z0.glb.clouddn.com/2.pic.jpg" alt="">
                    男神杰森斯坦森!<br>男神杰森斯坦森!<br>男神杰森斯坦森!<br>男神杰森斯坦森!<br>男神杰森斯坦森!<br>男神杰森斯坦森!
                </div>
                <p class="hobby-note">
                    不要误会我是基佬...自己算是半个健身爱好者。也可以称之为"伪健身爱好者"。学生时代特别痴迷。也有大把的时间去健身。现在不一样了。额,好像这不是理由。。。
                </p>
            </li>
            <li>
                <div class="hobby-item" style="text-indent: 0;">
                    <video style="width:483px;float:left;margin-right:20px;" src="./IMG_1448.MOV" controls></video>
                    最后还是这个带劲,看,刷刷的,多带劲.图中我是执行了一个scp命令,从本地到阿里云服务器上传输东西的过程,想了解这一切吗?快快随我来coding!!!
                </div>
                <div class="hobby-note">
                    我自己搭载了两个blog,算是总结自己工作过程中的一些心得吧. <br>
                    比如: <a href="/page/bloglist">西泊浪人博客列表</a> ,自己控制的样式,比较难看,慢慢改进中; <br>
                    再比如: <a href="http://blog.western-ranger.com">我的hexo博客</a> ,这个github pages的免费博客服务.可以不断换主题.
                </div>
            </li>
        </ul>
      </div>
    <% include footer %>
      <script src="/javascripts/common/jquery.js"></script>
      <script src="/javascripts/index.js"></script>
  </body>
</html>
