<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="header"></div>
    <div class="content">
      <div class="left"></div>
      <div class="right"></div>
      <div class="article"></div>
    </div>
    <div id="commentList"></div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/react.min.js"></script>
    <script src="/javascripts/indexReact.js"></script>
  </body>
</html>
