<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/stylesheets/common/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/base.css' />
      <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  <% include header %>
      <div class="row main-body">
        <div class="left-block col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="item-block">
                <h3>introduce</h3>
                <ul>
                    <li>
                        <span class="intro-tip">家乡: </span><a href="http://baike.baidu.com/link?url=4h5XhZklqTuKxCcbfok6vmLValtzmXoruSEI02_OVyRjv0MAOR1bjk55mri_fNXmuGwFQmBQODeltprIs-mTRK">地道山东人</a>
                    </li>
                    <li>
                        <span class="intro-tip">毕业于: </span><a href="http://sdufe.edu.cn/">山东财经大学</a>
                    </li>
                    <li>
                        <span class="intro-tip">谋其职: </span><span>水货研发人员</span>
                    </li>
                    <li>
                        <span class="intro-tip">感觉: </span><span>生命不息,奋斗不止</span>
                    </li>
                </ul>
            </div>

            <div class="item-block">
                <h3>精华博客推荐</h3>
                <ul>
                    <li>
                        <a href="http://www.75team.com/post/functional-how-far.html">函数式编程离我们有多远？</a>
                    </li>
                    <li>
                        <a href="http://taobaofed.org/blog/2016/04/05/optimize-in-tbhome/">淘宝首页性能优化实践</a>
                    </li>
                </ul>
            </div>

            <div class="item-block">
                <h3>今日音乐</h3>
                <ul>
                    <li>
                        <span class="intro-tip">推荐</span>
                        <a href="http://play.baidu.com/?__m=mboxCtrl.playSong&__a=1293554&__o=song/s||playBtn&fr=-1||-1#">饿狼传说-张学友</a>
                    </li>

                </ul>
            </div>

            <div class="item-block">
                <h3>知名博客</h3>
                <ul>
                    <li>
                        <a target="_blank" href="http://www.75team.com/">奇舞团博客</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://taobaofed.org/">淘宝前端团队博客</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.xuanfengge.com/">轩枫阁</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://fex.baidu.com/">百度前端团队</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://www.alloyteam.com/">腾讯前端团队</a>
                    </li>
                    <li><a target="_blank" href="http://www.daqianduan.com/">大前端</a></li>
                </ul>
            </div>

        </div>

        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 hobby-list">

            <div class="slide-content clearfix" onselectstart="return false">
                <div class="slide-content-copy clearfix">
                    <div class="left-prev">
                        <div class="prev">
                            <img src="http://7xp7rf.com1.z0.glb.clouddn.com/arrow-prev.gif"/>
                        </div>
                    </div>
                    <div class="right-next">
                        <div class="next">
                            <img src="http://7xp7rf.com1.z0.glb.clouddn.com/arrow-next.gif"/>
                        </div>
                    </div>
                </div>
                <div class="img ws-show">
                    <img src="http://7xp7rf.com1.z0.glb.clouddn.com/97308C4F-5DAE-4E65-A03F-05E2452668DF.png" alt="">
                    <p class="img-text">dfgdsfgdf</p>
                </div>
                <div class="img ws-hide">
                    <img src="http://7xp7rf.com1.z0.glb.clouddn.com/highBroken.png" alt="">
                </div>
                <div class="img ws-hide">
                    <img src="http://7xp7rf.com1.z0.glb.clouddn.com/2.pic.jpg" alt="">
                </div>
                <div class="img ws-hide">
                    <img src="http://7xp7rf.com1.z0.glb.clouddn.com/highBroken.png" alt="">
                </div>
                <div class="img ws-hide">
                    <img src="http://7xp7rf.com1.z0.glb.clouddn.com/2.pic.jpg" alt="">
                </div>
            </div>

          <ul class="poem-bg">
               <li>
                   想起一年之前的毕业季,不禁感叹.那时天天酩酊大醉,互相道别,各奔东西.而今已然进入职场一年有余,兄弟们这一年过的可好?
               </li>
                <li>
                    是否还能时常在脑海里浮现一块去食堂打饭,一起逃课出去喝酒,结伴上课迟到的场景?
                </li>
                <li>
                    我夜里想起来还是会辗转反侧,不思量自难忘.
                </li>
            </ul>
            <div class="poem-block">
                <h2 id="">再别康桥　</h2>

                    <blockquote>
                        <p>轻轻的我走了，</p>

                        <p>正如我轻轻的来；</p>

                        <p>我轻轻的招手，</p>

                        <p>作别西天的云彩。</p>
                    </blockquote>

                    <hr>

                    <blockquote>
                        <p>那河畔的金柳，</p>

                        <p>是夕阳中的新娘；</p>

                        <p>波光里的艳影，</p>

                        <p>在我的心头荡漾。</p>

                        <hr>

                        <p>软泥上的青荇，</p>

                        <p>油油的在水底招摇；</p>

                        <p>在康河的柔波里，</p>

                        <p>甘心做一条水草！</p>

                        <hr>

                        <p>那榆荫下的一潭，</p>

                        <p>不是清泉，是天上虹；</p>

                        <p>揉碎在浮藻间，</p>

                        <p>沉淀着彩虹似的梦。</p>

                        <hr>

                        <p>寻梦？撑一支长篙，</p>

                        <p>向青草更青处漫溯；</p>

                        <p>满载一船星辉，</p>

                        <p>在星辉斑斓里放歌。</p>

                        <p>但我不能放歌，</p>

                        <p>悄悄是别离的笙箫；</p>

                        <p>夏虫也为我沉默，</p>

                        <p>沉默是今晚的康桥！</p>

                        <hr>

                        <p>悄悄的我走了，</p>

                        <p>正如我悄悄的来；</p>

                        <p>我挥一挥衣袖，</p>

                        <p>不带走一片云彩。</p>
                    </blockquote>
            </div>
        </div>
      </div>
    <% include footer %>
      <script src="/javascripts/common/jquery.js"></script>
      <script src="/javascripts/common/bootstrap.min.js"></script>
      <script src="/javascripts/index.js"></script>
  </body>
</html>
