<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <div class="header"></div>
    <div class="content">
      <div class="right">
        <div class="about">
          关于我
        </div>
        <div class="follow">
          Follow me
        </div>
      </div>
      <div class="article">
        <div id="blogList"></div>
        <div id="hello"></div>
        <div id="container"></div>
      </div>
    </div>

    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/react.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
