<!DOCTYPE html>
<html>
  <head>
      <title><%= title %></title>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/stylesheets/common/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
      <div class="head-top">
          <div class="head row">
              <img src="http://7xp7rf.com1.z0.glb.clouddn.com/7286096.jpeg" alt="" class="hidden-xs col-sm-1 img-responsive" alt="Responsive image">
              <div class="row col-xs-12 col-sm-11 nav-bar">
                  <a class="col-xs-12 col-sm-2" href="/page/bloglist">技术积累</a>
                  <a class="col-xs-12 col-sm-2" href="/page/bloglist">历史感悟</a>
                  <a class="col-xs-12 col-sm-2" href="/page/bloglist">生活杂记</a>
                  <a class="col-xs-12 col-sm-2" href="http://blog.western-ranger.com">hexo博客</a>
                  <a class="col-xs-12 col-sm-2" href="https://github.com/WesternRanger">github</a>
                  <a class="col-xs-12 col-sm-2" href="http://weibo.com/WesternRanger">微博</a>
              </div>
          </div>
      </div>
      <div class="row main-body">
        <ul class="intro col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <li>
                <span class="intro-tip">老家: </span><a href="http://baike.baidu.com/link?url=4h5XhZklqTuKxCcbfok6vmLValtzmXoruSEI02_OVyRjv0MAOR1bjk55mri_fNXmuGwFQmBQODeltprIs-mTRK">山东-烟台-莱阳</a>
            </li>
            <li>
                <span class="intro-tip">毕业于: </span><a href="http://sdufe.edu.cn/">山东财经大学</a>
            </li>
            <li>
                <span class="intro-tip">前公司: </span><a href="http://www.renren.com/">人人网</a>
            </li>
            <li>
                <span class="intro-tip">现公司: </span><a href="http://www.360.com/">奇虎360 <a href="https://nicaifu.com">(互联网金融)</a></a>
            </li>
            <li>
                <span class="intro-tip">职位: </span><a href="http://baike.baidu.com/link?url=gltw9DHEVE88KzliTh4HLI563T26HMSelVVKSpBvMrrurlET4Y7p-pu7upMS7R0C2xYj-lioK1cyvI4I_i_ODq">前端开发工程师</a>
            </li>
            <li>
                <span class="intro-tip">感觉: </span>
                <span>生命不息,奋斗不止</span>
            </li>
        </ul>
        <ul class="col-xs-12 col-sm-9 col-md-9 col-lg-9 hobby-list">
            <li>
                <div class="hobby-item">
                    <img class="sushi img-responsive" src="http://7xp7rf.com1.z0.glb.clouddn.com/55e736d12f2eb938e57f4a13d5628535e4dd6fc4.jpg" alt="">
                    明月几时有？把酒问青天。不知天上宫阙，今夕是何年。我欲乘风归去，又恐琼楼玉宇，高处不胜寒。起舞弄清影，何似在人间。
                    　　转朱阁，低绮户，照无眠。不应有恨，何事长向别时圆？人有悲欢离合，月有阴晴圆缺，此事古难全。但愿人长久，千里共婵娟。
                    <p style="padding:20px 30px 20px 0;text-align: right;">
                        --- 苏轼
                    </p>
                </div>
                <p class="hobby-note">
                    附上我最喜欢的一首古诗词。闲暇时间我很喜欢看看类似东西装装逼用的。可能是高中时候背诵了太多的古诗词。到现在还能随口背上一大段。
                    程序猿生活比较枯燥。所以还是要有点爱好滴。
                </p>
            </li>
            <li>
                <div class="hobby-item">
                    <img style="float:right;height:200px;width:200px;" src="http://7xp7rf.com1.z0.glb.clouddn.com/8644ebf81a4c510fc710faa66259252dd52aa5b1.jpg" alt="">
                    朱元璋生于乱世之中，背负着父母双亡的痛苦，从赤贫起家，他没有背景，没有后台，没有依靠，他的一切都是自己争取来的，他经历千辛万苦，无数次躲过死神的掌握，从死人堆里爬起来，掩埋战友的尸体，然后继续前进，继续战斗。可以说，在那个时代，最优秀统帅的称号非朱元璋莫属驾崩后传位于长子朱标之子朱允炆，但朱允炆上台便要削藩。燕王朱棣以“靖难之役”的名义夺位。

                </div>
                <p class="hobby-note">
                    最喜欢的历史书籍。有喜欢的朋友可以一起交流交流
                </p>
            </li>
            <li>
                <div class="hobby-item" style="text-indent: 0;">
                    <img style="float:left;height:200px;width:200px;margin-right:20px;" src="http://7xp7rf.com1.z0.glb.clouddn.com/2.pic.jpg" alt="">
                    男神杰森斯坦森!<br>男神杰森斯坦森!<br>男神杰森斯坦森!<br>男神杰森斯坦森!<br>男神杰森斯坦森!<br>男神杰森斯坦森!
                </div>
                <p class="hobby-note">
                    学生时代特别痴迷。也有大把的时间去健身。现在还在垂死挣扎.成为杰森.斯坦森那样的男人是我毕生的梦想
                </p>
            </li>
            <li>
                <div class="hobby-item" style="text-indent: 0;">
                    <img style="float:left;height:140px;width:300px;margin-right:20px;" src="http://7xp7rf.com1.z0.glb.clouddn.com/97308C4F-5DAE-4E65-A03F-05E2452668DF.png" alt="">
                    最后,我当然还喜欢这些你们常人无法理解的东西,搞一些好玩的东西.捣鼓捣鼓服务器.
                </div>
                <div class="hobby-note">
                    我搭这个网站,记录一下自己工作生活的点点滴滴,来跟大家分享. 后续会在该站点加上交流功能,跟大家互动.
                </div>
            </li>
        </ul>
      </div>
    <% include footer %>
      <script src="/javascripts/common/jquery.js"></script>
      <script src="/javascripts/common/bootstrap.min.js"></script>
      <script src="/javascripts/index.js"></script>
  </body>
</html>
