<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="content"></div>
    <script src="/javascripts/react.min.js"></script>
    <script src="/javascripts/indexReact.js"></script>
  </body>
</html>
