<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  <div class="parent">
    <div class="child"></div>
  </div>
    <div id="content"></div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/react.min.js"></script>
    <script src="/javascripts/indexReact.js"></script>
  </body>
</html>
