<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/admin/redactor.css" />
    <link rel="stylesheet" href="/stylesheets/base.css" />
</head>
<body>
    <h3>redactor.js</h3>
    <form name="_form">
        <div class="hori clearfix">
            <div class="hori-name span3"><label for="">标题：</label></div>
            <div class="hori-input span7"><input type="text" name="title" style="margin:0 auto 20px;border:#333 solid 1px;"/></div>
        </div>
        <div class="hori clearfix">
            <div class="hori-name span3"><label for="">文章：</label></div>
            <textarea id="redactor_content" name="content" style="height: 860px;"></textarea>
        </div>
        <div class="hori" style="position:relative;">
            <input class="submit-input" type="button" value="发布" style="margin-top:10px;padding:5px 10px;border:#333 solid 1px;">
            <div class="write-info" style="position:absolute;top:4px;font-size:12px;color:#333;display:none;color:orange;">亲，这两个都要填哦~</div>
        </div>
    </form>

    <script src="/javascripts/common/jquery.min.js"></script>
    <script src="/javascripts/publish.js"></script>
    <script src="/admin/redactor.js"></script>
    <script>
        $('#redactor_content').redactor(); //  渲染redactor
    </script>
</body>
</html>
