<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8"/>
    <!--<link rel="stylesheet" href="/admin/redactor.css" />-->
    <style>
        .box-publish{
            width:100%;
            overflow: hidden;
        }
        .left{
            float:left;
            padding-right:20px;
            margin-right:20px;
            border-right:1px solid red;
        }
        .left h3,.left input{
            display: block;
        }
        .left #content{
            width:600px;
            height:400px;
        }
        .right{
            overflow: hidden;
        }
        .right h3{
            display: block;
        }
    </style>
</head>
<body>
    <div class="box-publish">
        <div class="left">
            <form name="_form">
                <h3>markdown语法</h3>
                <input type="text" name="title"/>
                <textarea id="content" name="content" onkeyup="compile()"></textarea>
                <input class="submit-input" type="button" value="发布">
            </form>
        </div>
        <div class="right">
            <h3>MarkDown 效果</h3>
            <div id="result"></div>
        </div>

    </div>


    <script src="/javascripts/common/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/common/showdown.js"></script>
    <script>
        $("input[type='button']").click(function(){
            var user = $("input[type='text']").val();
            var pass = $("input[type='password']").val();
            if(user!=''&&pass!=''){
                document._form.submit();
            }
            else{
                alert("请输入内容")
            }
        });
        function compile(){
            var text = document.getElementById("content").value;
            var converter = new showdown.Converter();
            var html = converter.makeHtml(text);
            document.getElementById("result").innerHTML = html;
        }
    </script>
</body>
</html>
