<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
</head>
<body>
  <div class="vm">
    <h1>{{name}}</h1>
      <child></child>
  </div>

    <script src="/javascripts/common/vue2.0dev.js"></script>
    <script src="/javascripts/vuexdemo.js"></script>
</body>
</html>
