*{
    font-family: 'Microsoft YaHei';
}
ul,li{
    margin:0;
    padding:0;
    list-style: none;
}
/*S- header*/
.head-top{
    background:#f6f5ee;
}
.head{
    max-width:980px;
    min-width:320px;
    margin:auto;
    .hover-tip{
        background: red;
        height:30px;
    }
    .nav-bar{
        a{
            text-align:center;
            padding:10px 0;
        }
    }
}
/*E- header*/

.wrap{
    max-width: 980px;
    margin:20px auto;
}
.content{
    width:90%;
    margin:auto;
}
/* S- 博客列表*/
.bloglist{
    font-size:16px;
    li{
        margin-bottom:10px;
    }
}
/* E- 博客列表*/

/* S- 右边框*/
.right{
    //width:200px;
    //float:right;
    background: #DEEBF7;
    .about{
        margin:10px auto;
        h3{
            text-indent:8px;
            color: #ffbbc7;
        }
        p{
            padding:0 10px;
            text-indent:16px;
            line-height: 25px;
        }
    }
    .follow{
        h3{
            text-indent:8px;
            color: #ffbbc7;
        }
        ul{
            padding:10px 15px 0;
            li{
                margin-bottom:15px;
                a{
                    color:#333;
                    font-size:14px;
                    &:hover{
                        color:#ffbbc7;
                    }
                }
            }
        }
    }
}
/* E- 右边框*/

.footer {
    background: #f6f5ee;
    padding:50px 0 100px;
    border-top:solid 1px #e5e5e5;
    font-size: 12px;
    text-align: center;
    color: #888;
    .contact {
        margin-bottom: 10px;
        a {
            color: #666;
            text-decoration: underline;
        }
    }
}
