ul,li{
    padding:0;
    margin:0;
    list-style: none;
}

/*S- body*/
.main-body{
    margin:30px auto;
    max-width:1200px;
    min-width:320px;
}

.item-block{
    padding:10px 20px 20px;
    margin-bottom:30px;
    background:#fff;
    .intro-tip{
        display: inline-block;
        width:60px;
        color:#333;
    }
}
.poem-bg{
    color:#533B77;
    font-size:15px;
    width:80%;
    margin:auto;
    li{
        list-style: disc;
        margin-bottom:10px;
    }
}
.poem-block{
    text-align: center;
}
/*E- body*/

/*S - slide */
.slide-content{
    margin:auto;
    width:720px;
    height:258px;
    overflow: hidden;
    position:relative;

    .slide-content-copy{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        .left-prev{
            float:left;
            width:50%;
            height:100%;
            &:hover{
                .prev{
                    background:transparent;
                    display: block;
                    cursor:pointer;
                    &:hover{
                        background:#999;
                    }
                }
            }
            .prev{
                display: none;
                position:absolute;
                top:50%;
                left:5px;
                z-index:5;
                margin-top:-31.5px;
                padding:10px;
                border-radius:5px;
            }
        }
        .right-next{
            float:left;
            width:50%;
            height:100%;
            &:hover{
                .next{
                    background:transparent;
                    display: block;
                    cursor:pointer;
                    &:hover{
                        background:#999;
                    }
                }
            }
            .next{
                display: none;
                position:absolute;
                top:50%;
                right:5px;
                z-index:5;
                margin-top:-31.5px;
                padding:10px;
                border-radius:5px;
            }
        }
    }

    .img{
        float:left;
    }
}

/*E - slide */