ul,li{
    padding:0;
    margin:0;
    list-style: none;
}
/*S- header*/
.head-top{
    background:#f6f5ee;
}
.head{
    max-width:980px;
    min-width:320px;
    margin:auto;
    .hover-tip{
        background: red;
        height:30px;
    }
    .nav-bar{
        a{
            text-align:center;
            padding:10px 0;
        }
    }
}
/*E- header*/

/*S- body*/
.main-body{
    margin:30px auto;
    max-width:1200px;
    min-width:320px;
}
.hobby-list li{
    overflow: hidden;
    margin-bottom:20px;
    .hobby-note{
        font-weight: 700;
    }
}
.intro{
    padding:20px;
    margin-bottom:30px;
    background:#DEEBF7;
    .intro-tip{
        display: inline-block;
        width:60px;
        color:#333;
    }
}
.sushi{
    width:163px;
    height:200px;
    float:left;
    margin-right:20px;
}
/*E- header*/

.footer {
    min-width:320px;
    background: #f6f5ee;
    padding:50px 0 100px;
    border-top:solid 1px #e5e5e5;
    font-size: 12px;
    text-align: center;
    color: #888;
    .contact {
        margin-bottom: 10px;
        a {
            color: #666;
            text-decoration: underline;
        }
    }
}

