ul,li{
    padding:0;
    margin:0;
    list-style: none;
}

.main-body{
    margin:30px auto;
    max-width:1200px;
    min-width:320px;
}

/*S- 左边块*/
.item-block{
    padding:10px 20px 20px;
    margin-bottom:30px;
    background:#fff;
    .intro-tip{
        display: inline-block;
        width:60px;
        color:#333;
    }
}
/*E- 左边块*/

/*S - slide */
.slide-content{
    margin:auto;
    overflow: hidden;
    position:relative;
    max-width:820px;
    .img{
        position: relative;
        img{
            width:100%;
            height:auto;
        }
        .img-text{
            position:absolute;
            bottom:0;
            left: 20px;
            color:transparent;
        }
    }
}

.slide-content-copy{
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:100%;
    height:100%;
    .left-prev{
        float:left;
        width:50%;
        height:100%;
        &:hover{
            .prev{
                background:transparent;
                display: block;
                cursor:pointer;
                &:hover{
                    background:#999;
                }
            }
        }
        .prev{
            display: none;
            position:absolute;
            top:50%;
            left:5px;
            z-index:5;
            margin-top:-31.5px;
            padding:10px;
            border-radius:5px;
        }
    }
    .right-next{
        float:left;
        width:50%;
        height:100%;
        &:hover{
            .next{
                background:transparent;
                display: block;
                cursor:pointer;
                &:hover{
                    background:#999;
                }
            }
        }
        .next{
            display: none;
            position:absolute;
            top:50%;
            right:5px;
            z-index:5;
            margin-top:-31.5px;
            padding:10px;
            border-radius:5px;
        }
    }
}

/*E - slide */

/* S - 最新发布*/
.new-publish{
    max-width:820px;
    margin:20px auto;
}
.publish-list{
    background:#fff;
}
.new-item{
    padding:20px;
    border: 1px solid #eaeaea;
    &:hover{
        border:1px solid #bee5ef;
        background: #ebfdfb;
        cursor:pointer;
    }
    .new-img{
        float:left;
        display: block;
        max-width:220px;
        height:auto;
        margin-right:15px;
    }
    .new-cont{
        overflow: hidden;
        .new-title{
            color:#555;
            font-size:18px;
        }
        .preview{
            padding-top:15px;
            font-size:12px;
            color:#999;
        }
    }
}

// 标签
.cat {
    color: #fff;
    background-color: #45BCF9;
    padding: 3px 6px;
    font-size: 12px;
    display: inline-block;
    position: relative;
    top: -2px;
    margin-right: 6px;
    i {
        position: absolute;
        top: 50%;
        margin-top: -4px;
        right: -4px;
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-left: 4px solid #45BCF9;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }
}
/* E - 最新发布*/